/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/navbar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.navbar_navbarIsScrolling__sV6zj{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 135px;
    align-items: center;
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    z-index: 11;
    top: -125px;
    background-color: aqua;
}

.navbar_fakenavbarishover__nFxUG{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 135px;
    background-color: aqua;
    align-items: center;
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    z-index: 10;

}

.navbar_fakenavbar__0zMhw{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 135px;
    background-color: aqua;
    align-items: center;
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    z-index: 10;

}

.navbar_navbar__g8CqE{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 135px;
    align-items: center;
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    z-index: 10;
}

.navbar_link__W_wPi{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    text-overflow: none;
    font: bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.navbar_link__W_wPi:hover{
    color: #ffffff;
    background-color: #000000;
}

.navbar_menu__In7QR{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_line__2bNXd{
    vertical-align: buttom;
    width: 100%;
    height: 10px;
    margin: 50px 0 0 0 ;
    background-color: #000000;
    opacity: 0;
    z-index: 2;
    animation: navbar_hiden__O3j91 .75s ease-in-out 200ms forwards;
}

@keyframes navbar_hiden__O3j91 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    
    .navbar_link__W_wPi{
        position: relative;
        font-size: 1em;
        height: 100%;
        margin: 0;
        padding: 0;
        
    }
    .navbar_link__W_wPi p{
        transform: translate(0, 50%);
    }
    .navbar_navbar__g8CqE{
        display: flex;
        height: 80px;
        justify-content: center;
    }
    .navbar_line__2bNXd{
        position: absolute;
        bottom: 0;
        margin: 0;
        height: 8px;
    }

}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/Stadistics.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/


.Stadistics_conteinerMoreStadistics__ETpnm{
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    background-color: hsla(0, 11%, 86%, 0.486);
    border-radius: 20px  ;
    gap: 10px;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    border: 0px solid hsla(0, 11%, 86%, 0.486);
    position: relative;
    z-index: 1;
    transform-origin: center;
    box-sizing: border-box;
}
.Stadistics_conteinerMoreStadistics__ETpnm p {
    margin: 0;
    padding: 0;
}
.Stadistics_conteinerMoreStadistics__ETpnm:hover{
    transform: scale(1.05);
    border: 4px solid hsla(0, 5%, 76%, 0.591);
    z-index: 2;
}
.Stadistics_moreStadistics__kPepO{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Stadistics_moreStadistics__kPepO p {
    margin: 0;
    padding: 0;

}
.Stadistics_moreStadisticsWE__0X5es{
    position: relative;
    width:200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Stadistics_moreStadisticsWE__0X5es p {
    margin: 0;
    padding: 0;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/monitoring.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.monitoring_main__6XjKl {
    display: flex;
    width: 100%;
    height: calc(100vh - 135px);
    z-index: 1;
    padding-top: 135px;
}

.monitoring_section_map__Fc_em{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 70px;
}

.monitoring_section_map__Fc_em text{
    height: 70%;
    font: bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    gap: 50px;
    margin: 0 50px 0 0;
    animation: monitoring_show2__inleW 1s ease-in-out 1s forwards;
}

.monitoring_section_map__Fc_em text label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.monitoring_section_map__Fc_em text label h1{
    margin: 0;
    padding: 0;
}

.monitoring_section_render__sfUtD{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.monitoring_section_render__sfUtD div {
    height: 100%;
    width: 70%;
}

.monitoring_section_render__sfUtD text{
    position: absolute;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: monitoring_show2__inleW 1s ease-in-out 1s forwards;
    opacity: 0;
}

.monitoring_section_render__sfUtD text label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.monitoring_section_render__sfUtD text label h1{
    margin: 0;
}


.monitoring_map__D_eZD {
    height: 70%;
    width: 60%;
    opacity: 0;
    left: 20px;
    animation: monitoring_show__gnnOm 1s ease-in-out 250ms forwards;
    border: 5px solid #000000;
    border-radius: 40px;
    margin: 0 0 0 20px;
}

.monitoring_moremonitoringEnable__70_QW{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 40px 20px 40px;
    gap: 35px;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
    transition: 2s ease-out;
    z-index: 2;
}

.monitoring_moremonitoring__VpvjY {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 40px 20px 40px;
    gap: 35px;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s ease-in;
    z-index: 2;
}


@keyframes monitoring_show__gnnOm {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes monitoring_show2__inleW {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    
    .monitoring_main__6XjKl{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 100px 0;
    }
    .monitoring_section_map__Fc_em{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 100px 0 0 0;
        padding: 0;
        gap: 10px;
    }
    .monitoring_map__D_eZD {
        width: 70%;
        height: 220px;
        margin: 0;
        left: 0;
    }
    .monitoring_section_map__Fc_em text {
        height: auto;
        font-size: 1em;
        gap: 10px;
        margin: 0;
    }
    .monitoring_section_render__sfUtD{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .monitoring_section_render__sfUtD text {
        right: 0;
        font-size: 1em;
        position: relative;
        font-size: 1em;
    }
    
}
