.navbar{
    display: flex;
    justify-content: space-between;
    height: 135px;
    align-items: center;
}
.link{
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    text-overflow: none;
    font: bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.link:hover{
    color: #ffffff;
    background-color: #000000;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    vertical-align: buttom;
    width: 100%;
    height: 10px;
    margin: 50px 0 0 0 ;
    background-color: #000000;
    opacity: 0;
    z-index: 2;
    animation: hiden .75s ease-in-out 200ms forwards;
}

@keyframes hiden {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

